/*   Perfect Paddles Project

Design Parameters:
-----------------------------------------------------------------

Colors:
body font colour & header bkg:           #321730
header & button font:                    #E4DCE7
purple brand colour:                     #8A5689 (links and buttons)
green brand colour:                      #96AE4B (link and button hover/focus state, headings & names)
sections background:                     #E4DCE7


Breakpoints:
min-width: 600px
min-width: 1140px

Properties to use:
border-radius, box-shadow, text-shadow

**Be deployed on the web as a GitHub Pages site

######

# FONTS
# FONTAWESOME
# GENERAL
  ## TYPOGRAPHY
  ## LINKS & BUTTONS
# HEADER
# SECTIONS
  ## HOME
  ## SCHEDULE
  ## VENUE
  ## CONTACT
# FOOTER
# CLEARFIX

---------------------------------------------*/


/* # FONTS  ---------------------------------------------*/

@font-face {
    font-family: 'bungee';
    src: url('../fonts/bungee/bungeehairline-regular-webfont.eot');
    src: url('../fonts/bungee/bungeehairline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bungee/bungeehairline-regular-webfont.woff') format('woff'),
         url('../fonts/bungee/bungeehairline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unicaone';
    src: url('../fonts/unicaone/unicaone-regular-webfont.eot');
    src: url('../fonts/unicaone/unicaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unicaone/unicaone-regular-webfont.woff') format('woff'),
         url('../fonts/unicaone/unicaone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* # FONTAWESOME  ---------------------------------------------*/

.social-media {
  margin-top: 0.6rem;
}

.social-media li a:before {
    display: inline-block;
    vertical-align: top;
    font-family: 'Fontawesome';
    font-size: 1.4rem;
    padding: 0.5rem;
    color: #321730;
    -webkit-font-smoothing: antialiased;
    content: '\f0c0';
    transition: color 0.3s ease 0s;
    width: 0.88571429em;
    text-align: center;
}

.social-media li a:hover:before {
  color: #8A5689
}

.social-media li {
    list-style: none;
    display: inline;
}


li a[href*="facebook.com"]::before { content: '\f09a'; }

li a[href*="twitter.com"]::before { content: '\f099'; }

li a[href*="instagram.com"]::before { content: '\f16d'; }


/* # GENERAL  ---------------------------------------------*/

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-content {
  height: 100%;
  width: 100%;
  background:
      linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(3,3,3,0.3) 55%, rgba(0,0,0,0.3) 100%),  /* on top */
      url(../images/microphone.jpg);     /* in the middle */
  background-size: cover;
  background-position: center top;
  margin: 0;
  padding: 2rem 0.5rem;
  box-sizing: border-box;
}

div {
  text-align: center;
  margin: 0 auto;
}

div:focus, input:focus, textarea:focus {
  outline: 0;
}


/* ## TYPOGRAPHY  ---------------------------------------------*/

p {
  font-family: "raleway";
  font-size: 0.8rem;
  color: #321730;
  line-height: 1.1rem;
  letter-spacing: 1px;
}

h1 {
  font-family: "bungee";
  font-size: 3rem;
  color: #96AE4B;
  margin: 0;
  text-align: center;
}

h3 {
  font-family: "unicaone";
  font-size: 0.75rem;
  margin-bottom: 0.9;
  margin-top: 0;
  color: #321730;
  letter-spacing: 5px;
}

h4 {
  font-family: "unicaone";
  font-size: 1rem;
  margin-bottom: 0.8;
  margin-top: 0;
  color: #321730;
  letter-spacing: 5px;
}

h5 {
  font-family: "unicaone";
  font-size: 1.1rem;
  margin-bottom: 0.9;
  margin-top: 0;
  color: #321730;
  letter-spacing: 2px;
}

h6 {
  font-family: "bungee";
  font-size: 1rem;
  margin: 0.9rem;
  color: #321730;
  letter-spacing: 1px;
}

.site-title h3 {
  color: #E4DCE7;
}

.site-title span {
  font-size: 0.8rem;
  font-family: "bungee";
  color: #96AE4B;
}


@media all and (min-width: 600px) {
  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}




/* ## LINKS & BUTTONS  ---------------------------------------------*/

a {
	color: #96AE4B;
  text-decoration: none;
}

a:visited {
  color: #96AE4B;
}

a:hover,
a:focus,
a:active {
	color: #8A5689;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

button {
	background-color: #8A5689;
  color: #E4DCE7;
  border: none;
  border-radius: 4px;
  font-family: "unicaone";
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  width: 100px;
  transition: color 0.3s ease 0s;
}

button a {
  color: #E4DCE7;
  transition: color 0.3s ease 0s;
}

button:visited {
  background-color: #8A5689;
}

button:hover,
button:focus,
button:active {
	color: #321730;
}

button:focus {
	outline: 0;
}

button:hover,
button:active {
	outline: 0;
}

button a:visited {
	color: #E4DCE7;
}

button a:hover,
button a:focus,
button a:active {
	color: #321730;
}

/* # HEADER  ---------------------------------------------*/

header {
  margin: 0;
}

.site-header {
  background-color: #321730;
}

.site-title {
  padding: 1rem;
}

.site-title span {
  margin-bottom: 20px;
}

.fa-bars {
  color: #E4DCE7;
  padding: 0.8rem;
  cursor: pointer;
  position: absolute;
  font-size: 1rem;
  top: 0.8rem;
  left: 0.8rem;
}

.navigation {
   top: 0;
   right: 0;
   bottom: 0;
   width: 100px;
   height: 6.1rem;
   background-color: #E4DCE7;
   position: fixed;
   z-index: 1;
   padding: 1rem 0.8rem;
}

.navigation a {
  color: #321730;
  letter-spacing: 3px;
  font-family: "unicaone";
  font-size: 0.9rem;
  padding: 0.5rem;
}

.navigation li {
  margin-bottom: 0.5rem;
}

@media all and (min-width: 600px) {
  .navigation {
     height: inherit;;
  }
}
/* # SECTIONS  ---------------------------------------------*/


.site-main {
  width: 76%;
  min-width: 335px;
  max-width: 515px;
}

.home, .schedule, .venue, .contact {
  width: 285px;
  margin: 0 2rem;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  background-color: rgba(228, 220, 231, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 600px) {
  .home, .schedule, .venue, .contact {
    width: 440px;
  }
}


/* ## HOME  ---------------------------------------------*/

.event {
  margin: 1.2rem auto;
  width: 265px;
}

.tickets {
  height: 125px;
  width: 235px;
  border: 2px solid #321730;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.price {
  height: 100px;
  border-right: 2px solid #321730;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0.7rem;
}

.price h5 {
  margin: 0.3rem;
}

.buy {
  height: 100px;
  padding: 0 1rem;
  text-align: left;
}

.buy p {
  font-size: 0.7rem;
  margin-top: 3px;
}

@media all and (min-width: 600px) {
  .event {
    width: 80%;
  }
  .tickets {
    height: 150px;
    width: 260px;
  }
  .price {
    height: 125px;
  }
  .buy {
    height: 115px;
    padding: 0 1.3rem;
  }
  .buy p {
    font-size: 0.8rem;
    margin-top: 3px;
  }
}


/* ## SCHEDULE  ---------------------------------------------*/

.schedule {
  display: flex;
  flex-direction: row;
}

.singers-gallery {
  width: 45%;
  margin: 0.3rem;
  display: inline-block;
  vertical-align:top;
}

.singers-gallery h4 {
  background-color: #321730;
  color: #E4DCE7;
  padding: 0.25rem 0.6rem;
  text-align: left;
  font-size: 0.7rem;
  margin: 0.35rem;
}

.singer h5 {
  height: 25px;
  width: 97px;
  background-position: center top;
  margin: 0.7rem auto;
  padding: 4.5rem 0.5rem 1rem 0.5rem;
  color: #E4DCE7;
  font-size: 1rem;
  letter-spacing: 3.5px;
}



h5.s3 {
  background:
      linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(3,3,3,0.3) 55%, rgba(0,0,0,0.3) 100%),  /* on top */
      url(../images/jsinger_3.png);
  background-size: cover;
}

h5.s4 {
  background:
      linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(3,3,3,0.3) 55%, rgba(0,0,0,0.3) 100%),  /* on top */
      url(../images/jsinger_4.png);
  background-size: cover;
}

h5.s5 {
  background:
      linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(3,3,3,0.3) 55%, rgba(0,0,0,0.3) 100%),  /* on top */
      url(../images/jsinger_5.png);
  background-size: cover;
}

h5.s {
  color: #321730;
  height: auto;
  width: auto;
  margin: 0.5rem;
  padding: 0;
}

@media all and (min-width: 600px) {
  .schedule {
    padding-bottom: 0.15rem;
  }
  .singers-gallery h4 {
    margin: 0.1rem;
  }
  .singer h5 {
    margin: 1rem auto;
  }
}


/* ## VENUE  ---------------------------------------------*/

.venue {
  padding-bottom: 1.25rem;
}

.address {
  background-color: #321730;
  padding: 1rem;
  border-radius: 4px;
}
.address p, .address h5 {
  color: #E4DCE7;
  margin: 1rem 0;
}
.venue img {
  width: 250px;
  height: auto;
  margin: 1rem auto;
}
/* ## CONTACT  ---------------------------------------------*/

.contact {
  padding: 1.25rem;
}

form input, form textarea {
  border: 2px solid #321730;
  background-color: #321730;
  color: #E4DCE7;
  font-family: "raleway";
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0.2rem;
  margin: 0.8rem 0;
  width: 175px;
  text-align: left;
}

form textarea {
  height: 50px;
}

form label {
  color: #321730;
  font-family: "unicaone";
  font-size: 0.9rem;
  letter-spacing: 3px;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
   color: #E4DCE7;
}

form input:-moz-placeholder, form textarea:-moz-placeholder { /* Firefox 18- */
   color: #E4DCE7;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #E4DCE7;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
   color: #E4DCE7;
}


form input[type=submit] {
  background-color: #8A5689;
  color: #E4DCE7;
  border: none;
  border-radius: 4px;
  font-family: "unicaone";
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  text-align: center;
  width: 100px;
  transition: color 0.3s ease 0s;
}

input[type=submit]:hover,
input[type=submit]:focus {
	cursor: pointer;
  color: #321730;
}
